appdirs==1.4.0
cffi==1.7.0
click==6.6
decorator==4.0.10
docutils==0.12
Flask==0.11.1
Flask-SQLAlchemy==2.1
imageio==1.5
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
MarkupSafe==0.23
numpy==1.11.1
Pillow==3.3.0
pkg-resources==0.0.0
psycopg2==2.6.2
py==1.4.31
pycparser==2.14
pyopencl==2016.1
pytest==2.9.2
python-dateutil==2.5.3
pytools==2016.2.1
six==1.10.0
SQLAlchemy==1.0.14
Werkzeug==0.11.10
gunicorn==19.6.0
